

.big-sign{
    font-size: 150px;
    font-weight: bold;
    margin-top: 20px;
    padding-bottom: 0;
    margin-bottom: 0;
}

.portfolio-container{
    margin-top: 50px;
    margin-bottom: 50px;
    min-width: 400px;
    width: 1200px;
    height: 50%;
    display: flex; 
    gap: 50px; 
    overflow-x: auto; 
    white-space: nowrap; 
    padding: 20px 10px 20px 10px; 
    scroll-behavior: smooth;
    box-sizing: border-box; 

    a{
        text-decoration: none;
        color: inherit;
    }

}

.portfolio-container::-webkit-scrollbar {
    height: 10px;
}
.portfolio-container::-webkit-scrollbar-thumb {
    background: rgb(16, 16, 16); 
}

@media (max-width: 768px) {
    .portfolio-container {
        gap: 20px; /* Reduce gap on smaller screens */
        padding: 10px; /* Adjust padding for smaller screens */
    }
}

.portfolio {
    min-width: 300px; 
    width: 400px;

    height: 200x;
    padding: 20px;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
    overflow: hidden;
    border: 2px solid rgb(16, 16, 16); 
    border-radius: 8px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    white-space: wrap;
    transition: 
    transform 0.3s ease, 
    box-shadow 0.3s ease,
    color 0.3s ease,
    background-color 0.3s ease;
    
}


#card-header{
    height: 0;
    position: relative;
    margin-bottom: 20px;
    flex-shrink: 0;

}

.card-description{
    word-wrap: break-word;
}



.portfolio:hover {
    transform: scale(1.1); 
    color: rgb(255, 255, 255);
    background-color: rgb(16, 16, 16);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); 

    hr{
        background-color: rgb(255, 255, 255);
    }
    
}



.portfolio:active {
    transform: scale(1.05); 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15); 
}  
